################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SportsManagementSolution/.vs
/SportsManagementSolution/SportsManagement/bin/Debug/netcoreapp2.2
/SportsManagementSolution/SportsManagement/obj
