@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sports Management</h1>
</div>
<table>
    <tr>
        <td>
            <img src="~/images/cover.jpg" height="500" width="800"/>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" data-attr="sportsPersons">Sports Persons List</a>
        </td>
    </tr>
</table>

